@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Numans');
@import './variables.scss';

*::after,
*::before {
  box-sizing: border-box;
}

html,body{
  height: 100%;
  font-family: 'Numans', sans-serif;
}
.game-title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.card{
  margin-top: 20em;
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3{
  color: white;
}

.input-group-prepend span{
width: 50px;
background-color: rgb(17, 159, 145);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: rgb(17, 159, 145);
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

#logged-in-user {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

#player1 {
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  color: black;
  display: none;
}

#player2 {
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  color: black;
  display: none;
}

.tic-container {
  // margin-top: 10rem;
  // height: 100%;
  // width: auto;
  border: 1px solid black;
  // color: black;
}
.game-board {
  width: 50vw;
  height: 50vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  color: black;
}

.tic-box {
  // border: 3px solid rgb(17, 159, 145);
  // text-align: center;
  // padding: 2rem 2rem 2rem 2rem
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer
}
// .tic-box:hover {
//   background-color: #333;
// }

#box-0,#box-3,#box-6 {
  border-left-style: none;
}

#box-2,#box-5,#box-8 {
  border-right-style: none;
}

#box-0,#box-1,#box-2 {
  border-top-style: none;
}

#box-6,#box-7,#box-8 {
  border-bottom-style: none;
}

.tic-box.x,
.tic-box.o {
  cursor: not-allowed;
}

.tic-box.x::before,
.tic-box.x::after,
.tic-box.o::before {
  background-color: black;
}

.game-board.x .tic-box:not(.x):not(.o):hover::before,
.game-board.x .tic-box:not(.x):not(.o):hover::after,
.game-board.o .tic-box:not(.x):not(.o):hover::before {
  background-color: lightgrey;
}

.game-board.o .tic-box:not(.x):not(.o):hover::before,
.game-board.o .tic-box:not(.x):not(.o):hover::after {
  background-color: lightgrey;
}

.tic-box.x::before,
.tic-box.x::after,
.game-board.x .tic-box:not(.x):not(.o):hover::before,
.game-board.x .tic-box:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc($tic-box-mark-size * 0.15);
  height: calc($tic-box-size * 0.9);
}
.tic-box.x::before,
.game-board.x .tic-box:hover::before {
  transform: rotate(45deg);
}

.tic-box.x::after,
.game-board.x .tic-box:hover::after {
  transform: rotate(-45deg);
}

.tic-box.o::before,
.tic-box.o::after,
.game-board.o .tic-box:not(.x):not(.o):hover::before,
.game-board.o .tic-box:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: $tic-box-mark-size;
  height: $tic-box-mark-size;
}

.tic-box.o::before,
.game-board.o .tic-box:not(.x):not(.o):hover::before {
  width: $tic-box-mark-size;
  height: $tic-box-mark-size;
}

.tic-box.o::after,
.game-board.o .tic-box:not(.x):not(.o):hover::after {
  width: calc($tic-box-mark-size * 0.7);
  height: calc($tic-box-mark-size * 0.7);
  background-color: white;
}

#game-won-success, #game-tie {
  color: black;
  text-align: center;
  display: flex;
}
